<div class="wrapper">
    <div class="divC divA">
        {{!-- <p id="randA">{{a}}</p> --}}
        <input type="text" name="num1" value="{{a}}">
    </div>
    <div class="divC divB">
        {{!-- <p id="randB">{{b}}</p> --}}
        <input type="text" name="num2" value="{{b}}">
    </div>
    <div class="btnDiv">
        <button id="randMethod">
            <a href="/random">Rand Number</a>
        </button>
        <button id="btnAdd">
            <a href="/addList">Add to Linklist</a>
        </button>
        <button>
            <a href="/addQueue">Add to Queue</a>
        </button>
    </div>
    <form method="POST" action="/input">
        <input type="text" name="num1" placeholder="Enter num1 here">
        <input type="text" name="num2" placeholder="Enter num2 here">
        <input type="submit" value="Send">
    </form>
</div>