<div class="wrapper">
    <div class="divA">
        <p id="randA">{{a}}</p>
    </div>
    <div class="divB">
        <p id="randB">{{b}}</p>
    </div>
    <button id="randMethod"><a href="/random">Rand Number</a></button>
    <button id="btnAdd"><a href="/addList">Add to Linklist</a></button>
    <button><a href="/addQueue">Add to Queue</a></button>
</div>